
.main-section{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 81rem;

}
.main-div{
    padding-top: 64px;
    padding-bottom: 64px;
    width: 81rem;
}

.conatiner{
    padding-left: 24px;
    padding-right: 24px;
}

.box-row{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-left: 5%;
    cursor: pointer;
}